html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  --green: rgba(66, 182, 42, 1);
  --black: rgba(27, 30, 29, 1);
  --grey: rgba(95, 108, 127, 1);
  --white: rgba(248, 255, 246, 1);
  --pale: rgba(238, 240, 242, 1);

  font-size: 1.6rem;
}

.suggested-color {
  padding: 5px;
}

.color-preview {
  display: inline-block;
  margin: 2px 5px 0 0;
  width: 1rem;
  height: 1rem;
  border: 1px solid #000;
}